.notification {
    transition: opacity 0.9s ease-in-out, transform 0.9s ease-in-out;
    z-index: 999;
    position: fixed; /* Fixed position to make it stay in place */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%) scale(0); /* Start with a scale of 0 for the animation */
    color: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0; /* Start with 0 opacity */
  }
  
  .notification.visible {
    opacity: 1; /* Fade in */
    transform: translate(-50%, -50%) scale(1); /* Scale to normal size */
  }
  